@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This is assignment 1, made for Seneca's WEB524 Winter 2021 class.</p>
<code>The author of this assignment is Minh To. Minh is a career-change software developer focused on full stack development, with an interest in learning about the deployment side of programming. He's curious about technologies like Docker and AWS, and how to implement them into his projects.</code>