@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1 - qto</h1>
    <p class="lead">Assignment 1 for WEB524 is meant to the first step in learning how to use ASP.NET MVC. This assignment will cover the basics of the MVC architecture and data persistence.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started in Assignment 1</h2>
        <p>
            This app is a simple ASP.NET MVC application that uses MVC architecture. The user should see the home page on initial load.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>How it works</h2>
        <p>You can access all the pages of the app by using the navbar above. By clicking on on each menu option, the site will route you to the appropriate view, and the controller will send the data from the entity model.</p>
    </div>
    <div class="col-md-4">
        <h2>Questions</h2>
        <p>If you have any questions, you can email me at <a href="mailto:qto@myseneca.ca">qto@myseneca.ca!</a></p>
    </div>
</div>