@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 3 - qto</h1>
    <p class="lead">Assignment 3 is meant to allow the student to learn about working with associated data within the Entity Framework. It will cover more associated data from assignment 2, and self-referencing entities.</p>
    <p><a href="mailto:qto@myseneca.ca" class="btn btn-primary btn-lg">Email me!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Associated Data</h2>
        <p>
            This is the key learning for this assignment. Associated data allows you to retrieve related data for an entity without having to build the view models and the overhead that goes with it.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Using the app</h2>
        <p>You can access different pages by using the navigation bar at the top of the page, or accessing the pages directly by inputting the URL in the web browser. The front controller will route requests.</p>
    </div>
    <div class="col-md-4">
        <h2>Questions</h2>
        <p></p>
        <p><a class="btn btn-default" href="mailto:qto@myseneca.ca">Questions? Email me!</a></p>
    </div>
</div>