@model IEnumerable<Assignment_3.Models.ArtistBaseViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Artist</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
