@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<p>This is assignment 2 for WEB524 Winter 2021. This app is meant to be a meant web app that implements the basics of associated data within the Entity Framework. The author of this site is Minh To, a career-change software developer currently studying at Seneca College.</p>